<!DOCTYPE html>

<html>

<head>
  <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>

<style>

div.container {

    width: 100%;

    border: 1px solid gray;

	align:center;

}



header, footer {

    padding: 1em;

    color: black;

    background-color: white;

    clear: left;

    text-align: center;

}



nav {

    float: left;

    max-width: 160px;

    margin: 0;

    padding: 1em;

}







article {

    margin-left: 170px;

    border-left: 1px solid gray;

    padding: 1em;

    overflow: hidden;

}

</style>

</head>

<body>


<script>
$(document).ready(function (){
$('.emri_').on('change',function(){

  var vlera =$(this).val();

if (vlera.length <6 ){
  alert('Keni gabuar.')
  $(this).focus();
}
});

});
</script>

<div class="container">



<header>

 <img src="aaa.png" alt="ARKEP" width="200" height="100">

 </header>


<form>
<article>

  <pre>           <b>FORMULAR I NJOFTIMIT

                  per

Hyrje ne aktivitetin e Komunikimeve Elektronike</b> </pre>

 <p>I. QELLIMI I NJOFTIMIT </p>

 <table  width="800px" border="1px">

<tr>

<td>

<input type="checkbox">Fillimi i sherbimit</input> //check

<input type="checkbox">Shtim sherbimi </input> //check

<input type="checkbox">Heqje sherbimi </input>  //check

</tr>

</table>

<p>

<br><br>

<p>II.TE DHENAT PER NDERMARRESIN</p>

<table  width="800px" border="1px">

<tr>

<td>1.1 </td>

<td>Emri i Ndermarresit(Entiteti)</td>

<td><input type="text" size="30" name="emri_"></input></td>

</tr>

<tr>

<td>1.2 </td>

<td>Numri i Regjistrimit te Biznesit</td>

<td><input type="text" size="30"></input> </td>

</tr>

<tr>

<td>1.3 </td>

<td>Numri fiskal</td>

<td><input type="text" size="30"></input></td>

</tr>

<tr>

<td>1.4 </td>

<td>Adresa</td>

<td><input type="text" size="30"></input></td>

</tr>

<tr>

<td>1.5 </td>

<td>Numri i Telefonit</td>

<td><input type="text" size="30"></input></td> //Tel

</tr>

<tr>

<td>1.6 </td>

<td>Numri Faksit</td>

<td><input type="text" size="30"></input></td>

</tr>

<tr>

<td>1.7 </td>

<td>E-mail adresa</td>

<td><input type="text" size="30"></input></td>

</tr>

</table>

</article>
<input type="submit" value="submit">
</form>

<footer>Operatret te Licencuar sipas Ligjit per Telekomunikacion Nr.2002/7 nuk jane te obliguar qe te plotsojn piken I,V dhe VI te Fromularit te Njoftimit

<br>



                                <pre>    Faqe 1 nga 4

        Adresa: Qyteza Pejton, Rr.Mujo Ulqinaku nr.7, 10000 Prishtine, Republika e Kosoves

             		Tel: +381(38)212-345;Fax:+381(38)212 399

                      E-mail:info@arkep-rks.org: web-site:www.arkep-rks.org </footer>





</div>



</body>

</html>
